$bg-color: #2d2f39;
$form-box-color: #373945;
$progress-bar-color: #aaabaf;
$text-color: #ffffff;
$blue-color: #0076ff;

// GENERIC PART
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    min-height: 100vh;
    color: $text-color;
}

.form__container {
    min-height: 100vh;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    padding: 10px;
    font-size: 1rem;
    color: $progress-bar-color;
}

h2 {
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

// FORM PART

.form__content {
    background-color: $form-box-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 10px;
    margin: 2%;
    border-radius: 10px;
}

.input__custom__label {
    color: $text-color;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1%;
}

.input__custom__label input {
    align-self: center;
    color: $text-color;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $progress-bar-color;
    padding: 10px;
    border-radius: 4px;
    margin-top: 8px;
    width: 100%;
    color: $text-color;
    font-weight: 400;
}

.input__custom__label select {
    align-self: center;
    color: $text-color;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $progress-bar-color;
    padding: 10px;
    border-radius: 4px;
    margin-top: 8px;
    width: 100%;
    color: $text-color;
    font-weight: 400;
}

// PART 1

.input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 4%;
}

.select__part1 {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $progress-bar-color;
    padding: 6px;
    border-radius: 4px;
    width: 90%;
    color: $text-color;
    font-weight: 400;
    // Select arrow
    -moz-appearance: white;
    -webkit-appearance: white;
    appearance: white;
}

.select__part1__option {
    font-size: 1rem;
    background-color: $form-box-color;
    border: 1px solid $progress-bar-color;
    padding: 6px;
    border-radius: 4px;
    width: 90%;
    color: $text-color;
    font-weight: 400;
    // Select arrow
    -moz-appearance: white;
    -webkit-appearance: white;
    appearance: white;
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
    color: $blue-color;
    font-weight: 600;
}

.button__next {
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: $blue-color;
    color: $text-color;
}

// PART 2

.infos__address {
    display: flex;
    width: 92%;
}

.input__custom__label--cp {
    width: 30%;
    margin-right: 5%;
}

.italic {
    font-style: italic;
    font-size: 12px;
    width: 90%;
    align-self: center;
}

// PROGRESS

.progressbar__container {
    width: 35%;
    margin-top: 2%;
}

.step__content {
    border-radius: 50px;
    padding: 2px;
    box-sizing: content-box;
}

.step__content--finished {
    background-color: $blue-color;
}

.step__content--current {
    background-color: $bg-color;
    border: 2px solid $blue-color;
}

.step__content--todo {
    display: none;
}


// RESPONSIVE

@media only screen and (max-width: 767px) {
    /* smartphone */
    * {
        font-size: 0.8rem;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .progressbar__container {
        display: none;
    }
}